<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sonic OC Wonderland</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Benjamin Dameworth</h1>
    <h2>Things that I like</h2>
    <ol>
        <li>French Fry</li>
        <li>Programming</li>
        <li>Images</li>
        <li>Category</li>
        <li>Wool</li>
        <li>Capybara</li>
        <li>Projector</li>
        <li>Carpet</li>
        <li>Blue</li>
        <li>Eleven</li>
    </ol>
    <p>&nbsp&nbsp&nbsp&nbspHello I have chose topic of things I like. I have chose topic of things I like because like. Make happy talk about thing I like. I also like milkshake and monitor and sonic oc. I like people who like thing I like. I hate Justin Bieber. Thank you for coming to my ted talk.</p>
    <a href="login.html">Login</a> <br>
    <a href="highscores.html">Highscores</a> <br>
    <img src="images/ben.jpg" alt="Ben the Hedgehog" width="200px" height="110px"> 
    <script src="scripts/script.js"></script>
</body>
</html>