<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Benjamin Dameworth</h1>
    <h2>Things that I like</h2>
    <ol>
        <li>French Fry</li>
        <li>Programming</li>
        <li>Images</li>
        <li>Category</li>
        <li>Wool</li>
        <li>Capybara</li>
        <li>Projector</li>
        <li>Carpet</li>
        <li>Blue</li>
        <li>Eleven</li>
    </ol>
    <a href="highscores.html">Highscores</a> <br>
    <img src="images/ben.jpg" alt="Ben the Hedgehog" width="200px" height="110px"> 
    <script src="scripts/script.js"></script>
</body>
</html>